## Directorios de compilación y binarios
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Archivos de configuración local y secretos
appsettings.Development.json
secrets.json

## Archivos temporales de base de datos
*.mdf
*.ldf

## Node / Frontend (si aplican herramientas externas)
node_modules/
dist/